## Importing Libraries & Files

In [2]:
# import usual libraries
import numpy as np
import pandas as pd

# to see entire output
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [ ]:
# plot libraries
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
age_pop_df = pd.read_csv('/Users/sashacrowe/codebase-ih/alpha_IHFP/population-by-age-group.csv')

### Population by Age Group Data
**Source**: Our World in Data Org https://ourworldindata.org/grapher/population-by-age-group

In [4]:
age_pop_df.head()

,Entity,Code,Year,Population - Sex: all - Age: 65+ - Variant: estimates,Population - Sex: all - Age: 25-64 - Variant: estimates,Population - Sex: all - Age: 15-24 - Variant: estimates,Population - Sex: all - Age: 5-14 - Variant: estimates,Population - Sex: all - Age: 0-4 - Variant: estimates
0,Afghanistan,AFG,1950,221587,2881750,1481165,1891648,1300032
1,Afghanistan,AFG,1951,225330,2914332,1503397,1931423,1304861
2,Afghanistan,AFG,1952,228860,2948438,1526378,1971722,1312385
3,Afghanistan,AFG,1953,232109,2982329,1548885,2008840,1324540
4,Afghanistan,AFG,1954,235141,3016447,1570535,2043247,1342583

In [8]:
df_2023 = age_pop_df[age_pop_df['Year']==2023]

In [11]:
age65nup = df_2023["Population - Sex: all - Age: 65+ - Variant: estimates"].sum()

In [12]:
ages25to64 = df_2023["Population - Sex: all - Age: 25-64 - Variant: estimates"].sum()

In [13]:
ages15to24 = df_2023["Population - Sex: all - Age: 15-24 - Variant: estimates"].sum()

In [14]:
ages5to14 = df_2023["Population - Sex: all - Age: 5-14 - Variant: estimates"].sum()

In [15]:
ages0to4 = df_2023["Population - Sex: all - Age: 0-4 - Variant: estimates"].sum()

In [16]:
genalpha = ages5to14 + ages0to4

In [18]:
genznup = ages15to24 + ages25to64 + age65nup

In [20]:
round((genalpha/(genalpha+genznup))*100,2)

25.75